.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #eee;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: #2f5d1e;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 10px;
}

.nav-link {
  padding: 8px 18px;
  border-radius: 999px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  transition: 0.2s;
}

.nav-link:hover {
  background: #e0eadb;
  color: #2f5d1e;
}

.nav-link.active {
  background: #2f5d1e;
  color: white;
  font-weight: 600;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 14px;
  font-weight: 600;
  color: #2f5d1e;
}

.btn-outline {
  border: 1.8px solid #2f5d1e;
  background: white;
  color: #2f5d1e;
  padding: 8px 18px;
  border-radius: 999px;
  cursor: pointer;
}

.btn-outline:hover {
  background: #e0eadb;
}

.btn-solid {
  background: #2f5d1e;
  color: white;
  padding: 8px 18px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}

.btn-solid:hover {
  background: #244a16;
}

.error-text {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
}
